html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  /* 🩺 resize 동작 확인용 css */
  border: 1px solid red;
}
