@import "./reset.css";

body {
  cursor: none !important;
  background-color: #1e4029;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 9999;
}
.cursor__default__inner {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(10, 27, 16, 2.5);
  border: 2px solid #d5a54e;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.cursor__trace__inner {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  /* transform: translate(-50%, -50%); */
  /* transition: all 0.04s ease; */

  /* 🎯브라우저에 해당 요소의 transform이 변할것이라는걸 미리 알려 성능을 개선시킴 */
  will-change: transform;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  20% {
    transform: scale(5);
    opacity: 1;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d5a54e;
  animation: ripple 0.5s ease-out;
  animation-fill-mode: forwards;
  /* 생긴효과가 커서 아래로 갈 수 있게 index 설정 */
  z-index: -1;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #521714;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.preloader__btn {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  color: rgb(213, 165, 78);
  background-color: rgb(30, 64, 41);
  /* 가운데 정렬용 margin */
  margin-top: -60px;
  margin-left: -60px;
}
.preloader__btn_hold {
  font-size: 19px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: normal;
}
