@import "./reset.css";

body {
  cursor: none !important;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 9999;
}
.cursor__default__inner {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(10, 27, 16, 2.5);
  border: 2px solid #d5a54e;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.cursor__trace__inner {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  /* transform: translate(-50%, -50%); */
  /* transition: all 0.04s ease; */

  /* 🎯브라우저에 해당 요소의 transform이 변할것이라는걸 미리 알려 성능을 개선시킴 */
  will-change: transform;
}
