@import "reset.css";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  background-color: #04120c;
  color: #b8e1ee;
}

body {
  height: 200vh;
  background-color: #00110c;
}

.button-in-header {
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  height: 34px;
  box-sizing: border-box;
}
.button-in-header:hover {
  background-color: #127374;
}
#right-buttons {
  display: flex;
}
#active-menu {
  background-color: #013a3b;
}

#image-wrapper {
  overflow: hidden;
}
#main-image {
  min-width: 1000px;
}
