@import "reset.css";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  background-color: #04120c;
  color: #b8e1ee;
}

body {
  height: 200vh;
  background-color: #00110c;
}

.button-in-header {
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  height: 34px;
  box-sizing: border-box;
}
.button-in-header:hover {
  background-color: #127374;
}
#right-buttons {
  display: flex;
}
#active-menu {
  background-color: #013a3b;
}

#image-wrapper {
  overflow: hidden;
}
#main-image {
  min-width: 1000px;
}

#document-title {
  margin-bottom: 40px;
  color: #b8e1ee;
  font-size: 170%;
  font-weight: 300;
  letter-spacing: 10px;
}
#main-content-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mountain-tag-wrapper {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  gap: 50px;
}

.mountain-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mountain-content-list {
  width: 325px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8e1ee;
  color: #04120c;
}
