@import "reset.css";

button {
  background-color: transparent;
  border: none;
}

header {
  display: flex;
  padding: 0 80px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}

#logo {
  height: 64px;
  cursor: pointer;
}
#little-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  border: 1px solid #dddddd;
  border-radius: 40px;
  height: 48px;
  box-sizing: border-box;
  min-width: 330px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(10 0 0 / 5%);
  cursor: pointer;
}
#little-search * {
  cursor: pointer;
}
#little-search:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.little-search_button {
  display: block;
  flex-shrink: 0;
  padding: 0 16px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.little-search_button:nth-of-type(3) {
  color: #717171;
}
.divider {
  display: block;
  flex-basis: 1px;
  flex-shrink: 0;
  background-color: #dddddd;
  height: 24px;
}
#magnifying-glass-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff385c;
  flex-basis: 32px;
  flex-shrink: 0;
  height: 32px;
  border-radius: 50%;
}
#magnifying-glass-icon {
  width: 12px;
}

/*  */

#header-right-section {
  display: flex;
  gap: 8px;
}

#do-airbnb {
  padding: 12px;
  font-size: 14px;
  color: #222222;
  font-weight: 600;
  cursor: pointer;
  border-radius: 22px;
}
#do-airbnb:hover {
  background-color: #f7f7f7;
}

/*  */
#profile-section {
  display: flex;
  gap: 12px;
  padding: 5px 5px 5px 12px;
  border: 1px solid #dddddd;
  border-radius: 21px;

  cursor: pointer;
}
#profile-section img:nth-child(1) {
  width: 16px;
}
#profile-section img:nth-child(2) {
  width: 30px;
}
#profile-section:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

/* 카테고리 */
#category-bar {
  display: flex;
  padding: 20px 40px 0;
  gap: 32px;
  overflow: auto;
}
#category-bar::-webkit-scrollbar {
  display: none;
}

.active-img {
  display: none;
}
.category-button {
  color: #717171;
  height: 66px;
  padding: 14px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.category-button img {
  width: 28px;
}
.category-button:hover {
  color: #000000;
  border-bottom: 2px solid #dddddd;
}
.category-button:hover .active-img {
  display: inline-block;
}
.category-button:hover .inactive-img {
  display: none;
}
#active-category-button {
  color: #000000;
  border-bottom: 2px solid #000000;
}
#active-category-button .active-img {
  display: inline-block;
}
#active-category-button .inactive-img {
  display: none;
}

/*  */
main {
  display: flex;
  justify-content: center;
  padding: 24px 80px;
}

/* 숙소리스트 아이템 */
#place-item-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 308px);
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  gap: 40px 24px;
}
.place-image-wrapper {
  position: relative;
  width: 308px;
  height: 293px;
  border-radius: 23px;
  overflow: hidden;
}
.place-image-wrapper img {
  width: 500px;
  height: 500px;
}
/*
 🎯CSS 우선 순위가 위 .place-image-wrapper img 보다 낮아서 속성이 충돌,
 .place-image-wrapper로 선택자를 추가해서 우선순위를 높여 해결
*/
.place-image-wrapper .heart-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* 🎯 :active는 CSS에서 제공하는 의사 클래스이며 "마우스로 누르는 동안" 활성화  */
.heart-icon:active {
  transform: scale(0.5);
  transition: transform 0.25s ease;
}
.description-section {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 15px;
  color: rgb(34, 34, 34);
}
.description-section_title {
  font-weight: 600;
}
#floating-map-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 19px;
  bottom: 125px;
  left: 50%;
  background-color: #222222;
  border-radius: 24px;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
}
#floating-map-button:hover {
  box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent,
    0 6px 16px rgba(0, 0, 0, 0.12) !important;
  /* 
  🎯 transform이 이미 적용된 상태(translateX(-50%))이므로
  transform이 적용된 요소에 transform을 적용할 때는 동일한 transform을
  적용한 다음 추가적인 속성을 넣어야한다.
  */
  transform: translateX(-50%) scale(1.04);
}
#floating-map-button img {
  width: 16px;
}
